@font-face {
  font-family: "pelleFont";
  src: url(../fonts/fonts/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}

@font-face {
  font-family: "pelleFontP";
  src: url(../fonts/PatrickHand-Regular.ttf);
}

body {
  margin: auto 0;
  overflow: hidden;
  background-color: beige;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8b451312;
  padding: 0px 40px;
}

#loggo {
  font-size: 32px;
  display: flex;
  align-items: center;
  height: 70px;
}

#pelle_p {

  font-weight: bold;
  margin-right: 30px;
  color: #e6ac41;
  font-size: 38px;
  font-family: pelleFont;
  text-shadow: 1px 2px 0 saddlebrown, -1px -1px 0 saddlebrown, 1px -1px 0 saddlebrown, -1px 1px 0 saddlebrown, 1px 1px 0 saddlebrown;
}

#loggoPicture {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

main {
  display: flex;
  height: 500px;
  justify-content: center;
  margin: 30px;
}

#fullPellePicture {
  width: 250px;
  height: 400px;
  margin-top: 200px;
  margin-left: 50px;
  transform: scaleX(-1);
}

#rightSide {
  width: 0;
  display: flex;
  align-items: center;
}

#testBoxen {
  height: 480px;
  width: 400px;
  background-color: #5bb0ac5c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 5px 4px #8e664a;
}

#testrubrik {
  font-family: pelleFontP;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ad7716; */
  color: #e6ac41;
  font-size: 38px;
  font-weight: bold;
  text-shadow: 1px 2px 0 saddlebrown, -1px -1px 0 saddlebrown, 1px -1px 0 saddlebrown, -1px 1px 0 saddlebrown, 1px 1px 0 saddlebrown;
}

#testrubrik p {
  margin: 20px;
}

#testBox {
  height: 400px;
  width: 380px;
  overflow-y: scroll;
}

.testDiv {
  width: 350px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  box-shadow: 1px 2px 2px #8e664a;

}

.testDiv p {
  color: white;
  font-family: pelleFontP;
  font-size: 15px;
  margin: 0;
  text-align: center;
}

footer {
  height: 250px;
  background-color: #f3c99a;
  margin: 0 auto;
}