/* body {
  background-color: white;
}
#testP {
  font-size: 30px;
  margin: 0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-style: bold;
  font-size: 12px;
  text-align: center;
}

main {
  width: 1200px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

#pelle {
  height: 600px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pellePicture {
  height: 400px;
  width: 250px;
  margin-top: 150px;
}

#bubbleDiv {
  width: 200px;
  height: 300px;
  background-color: green;
}

#borderTestBox {
  height: 530px;
  width: 440px;
  border-radius: 10px;
  background-color: #f3bd66;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 350px;
  padding-top: 10px;
}

#testBox {
  background-color: #f9e7c8;
  border-radius: 10px;
  height: 500px;
  width: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.testDiv {
  width: 350px;
  border-radius: 10px;
  font-size: 10px;
}
 */

body {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  height: 800px;
  width: 1200px;
  margin-top: 100px;
}

#pelle {
  height: 500px;
  width: 200px;
}

#pellePicture {
  height: 200px;
  width: 140px;
}

#bubbleDiv {
  height: 500px;
  width: 200px;
  background-color: antiquewhite;
}

#borderTestBox {
  width: 800px;
  height: 500px;
  background-color: #f3bd66;
}

#testBox {
  width: 750px;
  height: 450px;
  background-color: #f9e7c8;
}
