@font-face {
  font-family: "pelleFont";
  src: url(../../fonts/fonts/ShantellSans-VariableFont_BNCE\INFM\SPAC\wght.ttf);
}

@font-face {
  font-family: "pelleFontP";
  src: url(../../fonts/PatrickHand-Regular.ttf);
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: beige;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5bb0ac5c;
  height: 100px;
}

#leavePage {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(249, 59, 59);
  height: 32px;
  width: 91px;
  background-color: rgb(249, 59, 59);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
  color: white;
  position: absolute;
  right: 8px;
  top: 8px;
  font-family: pelleFontP;
  font-size: 16px;
}

#leavePage:hover {
  background-color: rgb(235, 52, 52);
  cursor: pointer;
}

#container {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: beige;
}

#countDownBox {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reloadColor {
  background-color: beige;
}

.animate {
  animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#countDown {
  box-shadow: 7px 8px 48px 0px rgba(242, 30, 30, 0.63);
  display: flex;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-family: arial;
  color: white;
  font-size: 20px;
  background: #ff2121;
  background: radial-gradient(
    circle,
    rgba(255, 33, 33, 1) 0%,
    rgba(217, 39, 39, 1) 70%,
    rgba(171, 50, 50, 1) 100%
  );
}

#imageContainer {
  height: 300px;
  width: 33%;
  border-radius: 20px;
}

#imageContainer img {
  border-radius: 10px;
}

.finalText {
  width: 500px;
  text-align: center;
  margin: 50px;
  font-family: pelleFontP;
  font-size: 50px;
  color: saddlebrown;
}

.endbutton {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #f18739;
  border: 1px solid #f18739;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 26px;
  font-family: pelleFontP;
  padding: 5px;
}

.endbutton:hover {
  background-color: #c26621;
  cursor: pointer;
}

footer {
  background-color: #5bb0ac5c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 310px;
}

#answers {
  border-radius: 5px;
  padding: 20px;
  height: 200px;
  width: 900px;
  background-color: #5bb0ac00;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.answerFormat {
  height: 80px;
  width: 400px;
  background-color: #f9e7c8;
  color: #754a13;
  box-shadow: 4px 5px 2px #bb8965;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: pelleFont;
  text-align: center;
}

.answerFormat:hover {
  cursor: pointer;
}

#headerBox {
  display: flex;
}

#question {
  text-align: center;
  font-weight: bold;
  color: #e6ac41;
  font-size: 33px;
  font-family: pelleFontP;
  text-shadow: 1px 2px 0 saddlebrown, -1px -1px 0 saddlebrown,
    1px -1px 0 saddlebrown, -1px 1px 0 saddlebrown, 1px 1px 0 saddlebrown;
}

#currentScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 33%;
}

#scoreDiv {
  background: linear-gradient(
    180deg,
    rgba(245, 206, 152, 1) 28%,
    rgba(255, 193, 87, 1) 55%,
    rgba(217, 154, 46, 1) 97%
  );
  border-radius: 15px;
  width: 169px;
  position: fixed;
  height: 100px;
  margin-right: 201px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 0;
  box-shadow: 0px 2px 8px 0px saddlebrown;
  margin-right: 1px;
}

#scoreP {
  margin: 0;
  font-family: pelleFontP;
  font-size: 25px;
  color: saddlebrown;
}

#scoreDivP {
  align-self: center;
  margin: 0;
  margin: 0;
  font-family: pelleFontP;
  font-size: 40px;
  color: white;
}

#currentScore img {
  height: 300px;
  object-fit: contain;
  z-index: 1;
  margin-top: 20px;
  margin-left: 180px;
}
