body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5bb0ac5c;
  height: 150px;
}

#leavePage {
  position: absolute;
  right: 25px;
  top: 25px;
}


#container {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.reloadColor {
  background-color: beige;
}
.animate {
  animation: pulse 0.3s ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



#countDown {
  box-shadow: 7px 8px 48px 0px rgba(0, 0, 0, 0.63);
  display: flex;
  height: 120px;
  width: 120px;
  border-radius: 50%;
 background-color: rgb(244, 80, 51);
  justify-content: center;
  align-items: center;
  font-family: arial;
  color: white;
  font-size: 20px;
}

#imageContainer {
  height: 300px;
  width: 600px;
  border-radius: 5px;
}

.finalText {
  width: 500px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

.endbutton {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #f18739;
  border: 1px solid #f18739;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 20px;
}

footer {
  background-color: #5bb0ac5c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 310px;
}

#answers {
  border-radius: 5px;
  padding: 20px;
  height: 200px;
  width: 900px;
  background-color: #5bb0ac00;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.answerFormat {
  height: 80px;
  width: 400px;
  background-color: #f3bd66;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#question {
  font-size: 20px;
  font-family: arial;
  color: black;
  text-align: center;
}

#currentScore {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#scoreDiv {
  background-color: rgb(255, 191, 0);
  width: 105px;
  position: fixed;
  height: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scoreDiv p {
  align-self: center;
}

#currentScore img {
  height: 300px;
  transform: scaleX(-1);
}